.bg-container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    background-size: cover;
    height: 100vh;
}

.person-name {
    text-align: center;
    color: #ffffff;
    background-color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
    padding: 18px;
}

.messages-container {
    padding: 20px;
}

.message-text {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    padding: 14px;
}

.message-received {
    background-color: #52606d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message-sent {
    text-align: right;
    background-color: #47a3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}