.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 100vh;
    background-size: cover;
}

.main-heading {
    color: white;
    text-align: center;
    font-weight: bold;

}

.h-center {
    text-align: center;
    font-family: "roboto";
}

.button {
    background-color: orange;
    color: white;
    height: 36px;
    width: 70px;
}

.card {
    text-align: center;
    font-family: "Roboto";
    color: white;
}

.paragraph {
    text-align: left;
    color: white;
    font-family: "Roboto";
}

.text-decoration {
    text-decoration: underline;
    color: white;
    font-family: "roboto";
}

.font-weight {
    font-weight: 900;
    color: white;
    text-align: left;
}

.text-align {
    text-align: center;
    color: white;
}